In [1]:
import pandas as pd

In [59]:
import numpy as np

# Book Data

In [2]:
books = pd.read_csv("Books.csv")
books.head()

C:\Users\seher\AppData\Local\Temp\ipykernel_4520\156505208.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

# User Data

In [4]:
user = pd.read_csv("Users.csv")
user.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [5]:
# Age contains many null values 
user.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

# Ratings of the movies

In [6]:
ratings = pd.read_csv("Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

# Shape of all the three files

In [8]:
print(user.shape)
print(ratings.shape)
print(books.shape)

(278858, 3)
(1149780, 3)
(271360, 8)

# Checking for duplications

In [9]:
user.duplicated().sum()

0

In [10]:
ratings.duplicated().sum()

0

In [11]:
books.duplicated().sum()

0

# Rattings of the book along with book name
**Here we combine the book ratings with name as in our rating data set we just have ISBN**

**After merging we have Book-Title and other columns too**

In [12]:
rattings_with_name = ratings.merge(books, on = "ISBN")

In [13]:
rattings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

### here we want to find the number of ratings per book that's why we do groupby using book-tile(not using ISBN bcz same name of a book exists with different ISBN ) 
the first column is book title and the number is Book ratings on that book (bcs we getting the this bcs we acquired this column by writting Book-Rating)

In [14]:
rattings_with_name.groupby("Book-Title").count()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ã?Â?lpiraten.                                                                                                 2
Ã?Â?rger mit Produkt X. Roman.                                                                                4
Ã?Â?sterlich leben.                                                                                           1
Ã?Â?stlich der Berge.                                                                                         3
Ã?Â?thique en toc                                                                                             2
Name: Book-Rating, Length: 241071, dtype: int64

### lets call the above df as the num_rating_df
reset_index will convert the above data into the data frame

In [15]:
num_rating_df = rattings_with_name.groupby("Book-Title").count()['Book-Rating'].reset_index()
num_rating_df

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

### In the second col, we have number of rattings on that book so it's better to rename it

In [16]:
num_rating_df.rename(columns = {"Book-Rating":"num_Ratings"}, inplace = True)
num_rating_df

                                               Book-Title  num_Ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [17]:
avg_rating_df = rattings_with_name.groupby("Book-Title").mean()['Book-Rating'].reset_index()
avg_rating_df

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

### Now again change the column name to the average Rating

In [18]:
avg_rating_df.rename(columns = {"Book-Rating":"Avg-Rating"}, inplace = True)
avg_rating_df

                                               Book-Title  Avg-Rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

### Here we merge two df number of ratings on a book along with avg rating

In [19]:
popular_df = num_rating_df.merge(avg_rating_df, on = "Book-Title")
popular_df

,Book-Title,num_Ratings,Avg-Rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

## as we will be considered only those books who have 200 ratings on them

In [20]:
popular_df=popular_df[popular_df["num_Ratings"]>=200].sort_values('Avg-Rating', ascending = False).head(50)

## In the popular df, we just considered or having only 50 books that are more popular in dataset
**We use head fn thats why we get 50 books in the df**

In [21]:
popular_df.head()

,Book-Title,num_Ratings,Avg-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
60582,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639

## To display it in the website we need more details too so we are going to merge it

In [22]:
popular_df = popular_df.merge(books, on = "Book-Title").drop_duplicates('Book-Title')[['Book-Title','Book-Author','Publisher','Image-URL-L']]
popular_df

,Book-Title,Book-Author,Publisher,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/043935806X.0...
13,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,http://images.amazon.com/images/P/0312853238.0...
17,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439064872.0...
20,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339681.0...
21,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339703.0...
30,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...
32,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339711.0...
43,To Kill a Mockingbird,Harper Lee,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...
51,The Da Vinci Code,Dan Brown,Doubleday,http://images.amazon.com/images/P/0385504209.0...
57,The Five People You Meet in Heaven,Mitch Albom,Hyperion,http://images.amazon.com/images/P/0786868716.0...
59,The Catcher in the Rye,J.D. Salinger,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...
66,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339738.0...
76,The Lovely Bones: A Novel,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
77,The Great Gatsby,F. Scott Fitzgerald,Lb May &amp; Assoc Inc,http://images.amazon.com/images/P/185326041X.0...
79,1984,George Orwell,Signet Book,http://images.amazon.com/images/P/0451524934.0...
88,Prodigal Summer: A Novel,Barbara Kingsolver,Perennial,http://images.amazon.com/images/P/0060959037.0...
89,Neverwhere,Neil Gaiman,Avon,http://images.amazon.com/images/P/0380789019.0...
94,The Secret Life of Bees,Sue Monk Kidd,Penguin Books,http://images.amazon.com/images/P/0142001740.0...
100,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,Regan Books,http://images.amazon.com/images/P/0060392452.0...
101,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,Doubleday,http://images.amazon.com/images/P/0385484518.0...
104,The Red Tent (Bestselling Backlist),Anita Diamant,Picador USA,http://images.amazon.com/images/P/0312195516.0...
105,Brave New World,Aldous Huxley,Harpercollins,http://images.amazon.com/images/P/0060809833.0...
110,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Pocket,http://images.amazon.com/images/P/0671461494.0...
119,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,Owl Books,http://images.amazon.com/images/P/0805063897.0...
121,The Tao of Pooh,Benjamin Hoff,Penguin Books,http://images.amazon.com/images/P/0140067477.0...
123,Animal Farm,George Orwell,Signet,http://images.amazon.com/images/P/0451526341.0...
133,Into the Wild,Jon Krakauer,Anchor,http://images.amazon.com/images/P/0385486804.0...
136,Fahrenheit 451,Ray Bradbury,Distribooks Inc,http://images.amazon.com/images/P/3257208626.0...
149,A Walk in the Woods: Rediscovering America on ...,Bill Bryson,Broadway Books,http://images.amazon.com/images/P/0767902521.0...
150,Girl with a Pearl Earring,Tracy Chevalier,Plume Books,http://images.amazon.com/images/P/0452282152.0...
151,Night,Elie Wiesel,Bantam Books,http://images.amazon.com/images/P/0553272535.0...
156,Outlander,DIANA GABALDON,Dell,http://images.amazon.com/images/P/0440222915.0...
162,"The Subtle Knife (His Dark Materials, Book 2)",PHILIP PULLMAN,Knopf Books for Young Readers,http://images.amazon.com/images/P/0375823468.0...
170,The Color of Water: A Black Man's Tribute to H...,James McBride,Riverhead Books,http://images.amazon.com/images/P/1573225789.0...
172,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,Warner Books,http://images.amazon.com/images/P/0446672211.0...
173,Seabiscuit: An American Legend,LAURA HILLENBRAND,Ballantine Books,http://images.amazon.com/images/P/0449005615.0...
175,Life of Pi,Yann Martel,Harcourt,http://images.amazon.com/images/P/0151008116.0...
179,The Bean Trees,Barbara Kingsolver,Perennial,http://images.amazon.com/images/P/0060915544.0...
182,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,Health Communications,http://images.amazon.com/images/P/1558743669.0...
184,ANGELA'S ASHES,Frank McCourt,Scribner,http://images.amazon.com/images/P/0684874350.0...
186,High Fidelity,Nick Hornby,Riverhead Books,http://images.amazon.com/images/P/1573225517.0...
192,Good in Bed,Jennifer Weiner,Washington Square Press,http://images.amazon.com/images/P/0743418174.0...
194,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,Perennial,http://images.amazon.com/images/P/0060938455.0...
195,American Gods,Neil Gaiman,HarperTorch,http://images.amazon.com/images/P/0380789035.0...
196,Skipping Christmas,JOHN GRISHAM,Doubleday,http://images.amazon.com/images/P/0385505833.0...
202,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,Tyndale House Publishers,http://images.amazon.com/images/P/0842329129.0...
204,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,Knopf Books for Young Readers,http://images.amazon.com/images/P/037582345X.0...

In [23]:
popular_df.shape

(50, 4)

# Colaborative filtering
here we are getting only those user who rated more than 200 books

In [24]:
X = rattings_with_name.groupby("User-ID").count()["Book-Rating"]>200

#### Here we get the index of those user how give more than 200 ratings

In [25]:
Readers_index = X[X].index

#### Here we get a bolean series lets put it into the df

In [26]:
rattings_with_name["User-ID"].isin(Readers_index)

0          False
1          False
2           True
3          False
4          False
           ...
1031131    False
1031132    False
1031133    False
1031134    False
1031135    False
Name: User-ID, Length: 1031136, dtype: bool

In [27]:
filtered_ratings = rattings_with_name[rattings_with_name["User-ID"].isin(Readers_index)]
filtered_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [28]:
filtered_ratings.shape

(474007, 10)

In [29]:
y = filtered_ratings.groupby("Book-Title").count()['Book-Rating'] >=50

In [30]:
famous_book = y[y].index

In [31]:
famous_book

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [32]:
final_rattings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_book)]

In [33]:
final_rattings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

## Converting it into pivot table in which at y side we will have books and on x side we have user with ratings given to the books by User

In [34]:
pivot_table = final_rattings.pivot_table(index = 'Book-Title', columns = "User-ID", values = "Book-Rating")
pivot_table.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
pivot_table.fillna(0, inplace = True)

In [36]:
pivot_table.shape

(706, 810)

In [37]:
pivot_table.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity_score = cosine_similarity(pivot_table)
similarity_score[0]

array([1.        , 0.10255025, 0.01220856, 0.        , 0.05367224,
       0.02774901, 0.08216491, 0.13732869, 0.03261686, 0.03667591,
       0.02322418, 0.06766487, 0.02083978, 0.09673735, 0.13388865,
       0.08303112, 0.11153543, 0.05100411, 0.02517784, 0.11706383,
       0.        , 0.14333793, 0.07847534, 0.06150451, 0.08723968,
       0.        , 0.07009814, 0.13658681, 0.07600328, 0.12167134,
       0.00768046, 0.01473221, 0.        , 0.07965814, 0.04522617,
       0.01556271, 0.09495938, 0.0182307 , 0.02610465, 0.07984012,
       0.11679969, 0.0569124 , 0.08354155, 0.08471898, 0.08785938,
       0.05491435, 0.0548505 , 0.27026514, 0.09779123, 0.06016046,
       0.08958835, 0.06748675, 0.        , 0.04468098, 0.01920872,
       0.        , 0.05629067, 0.00557964, 0.07877059, 0.05219479,
       0.18908177, 0.        , 0.01240656, 0.02984572, 0.04279502,
       0.12680125, 0.16566735, 0.        , 0.13357242, 0.06615478,
       0.        , 0.        , 0.        , 0.10968075, 0.02806606,
       0.04521795, 0.02613277, 0.06876131, 0.01331627, 0.10519138,
       0.03349457, 0.01363458, 0.23669374, 0.        , 0.10397941,
       0.06167753, 0.14176273, 0.11661083, 0.08331012, 0.00850895,
       0.06715433, 0.        , 0.15850821, 0.0328052 , 0.01068915,
       0.02579782, 0.02114859, 0.02687779, 0.02175821, 0.        ,
       0.01601663, 0.12114266, 0.04768603, 0.05819184, 0.06510722,
       0.        , 0.0476705 , 0.05273165, 0.0281001 , 0.06524573,
       0.02116345, 0.02097868, 0.07422249, 0.01752778, 0.03734567,
       0.        , 0.01579666, 0.11039448, 0.16527277, 0.15514319,
       0.06237454, 0.08139489, 0.05655414, 0.07458203, 0.03771888,
       0.0593633 , 0.02955369, 0.03355603, 0.04734093, 0.01006643,
       0.01671982, 0.07258935, 0.        , 0.        , 0.        ,
       0.02428501, 0.03067819, 0.0997498 , 0.        , 0.01690152,
       0.02410862, 0.0281084 , 0.        , 0.        , 0.01812877,
       0.02880827, 0.        , 0.05995157, 0.02127671, 0.1034119 ,
       0.02766748, 0.10684795, 0.09898722, 0.14145186, 0.05007429,
       0.09428289, 0.01411249, 0.        , 0.07835976, 0.00882242,
       0.04515898, 0.        , 0.01281412, 0.04003334, 0.07477661,
       0.01217906, 0.01887393, 0.02667484, 0.01432864, 0.14702847,
       0.06087282, 0.02578321, 0.02741876, 0.        , 0.14909595,
       0.05606788, 0.        , 0.03199916, 0.03643817, 0.        ,
       0.01962921, 0.22222254, 0.01515845, 0.09673268, 0.02190023,
       0.02013549, 0.05400331, 0.07262017, 0.01111637, 0.03649872,
       0.05994664, 0.        , 0.14691167, 0.02086005, 0.10359635,
       0.09794375, 0.06609997, 0.12871083, 0.08992739, 0.01147457,
       0.02460165, 0.        , 0.18049207, 0.05141892, 0.0477174 ,
       0.10849696, 0.13278139, 0.05915288, 0.05372984, 0.034785  ,
       0.        , 0.09203039, 0.06388401, 0.04773328, 0.15570975,
       0.08420691, 0.12338217, 0.0878469 , 0.08205945, 0.12177532,
       0.02433703, 0.00272862, 0.        , 0.        , 0.03671505,
       0.15280984, 0.0370943 , 0.07458136, 0.09746697, 0.05416091,
       0.10266993, 0.07574414, 0.06426526, 0.0360174 , 0.01559752,
       0.02033559, 0.02463593, 0.        , 0.03349154, 0.02135369,
       0.0190337 , 0.06806265, 0.02032116, 0.11784706, 0.07839488,
       0.08422558, 0.        , 0.02040796, 0.        , 0.04698246,
       0.08294513, 0.13974514, 0.01234525, 0.13510608, 0.07423489,
       0.11841889, 0.04930091, 0.01621668, 0.02633023, 0.04815972,
       0.01959826, 0.10174253, 0.13257638, 0.        , 0.0551027 ,
       0.0186115 , 0.        , 0.04504598, 0.03482459, 0.16503292,
       0.08466191, 0.06795353, 0.02987653, 0.        , 0.        ,
       0.08781993, 0.07885279, 0.04799058, 0.01467964, 0.02123837,
       0.04549923, 0.08673969, 0.00885998, 0.02880637, 0.02022145,
       0.02414122, 0.12548312, 0.        , 0.02482518, 0.06520606,
       0.        , 0.0606983 , 0.01177824, 0.13974105, 0.01978844,
       0.01260824, 0.08608601, 0.04433883, 0.02943085, 0.02242496,
       0.06541868, 0.07866868, 0.14281399, 0.11979305, 0.01858409,
       0.13445377, 0.04809338, 0.09790644, 0.        , 0.17415731,
       0.07437756, 0.        , 0.12389065, 0.01042391, 0.02580849,
       0.        , 0.0895139 , 0.04005551, 0.19182231, 0.02267512,
       0.01730347, 0.03054044, 0.07008822, 0.10084626, 0.10467615,
       0.01683462, 0.12468283, 0.10266459, 0.03549836, 0.02667484,
       0.07652765, 0.08474056, 0.01831977, 0.02177482, 0.15293362,
       0.        , 0.        , 0.01063251, 0.02153089, 0.02946443,
       0.        , 0.02076783, 0.01194825, 0.00953675, 0.2067554 ,
       0.01554292, 0.0390266 , 0.06681046, 0.09014973, 0.05914735,
       0.06206857, 0.        , 0.02005959, 0.07843566, 0.16337845,
       0.07161075, 0.        , 0.14595258, 0.07561631, 0.02939738,
       0.04779629, 0.01807238, 0.11362722, 0.09791273, 0.07999693,
       0.08912337, 0.10941777, 0.        , 0.02115842, 0.0600393 ,
       0.01797154, 0.05755408, 0.02166863, 0.09754449, 0.13107652,
       0.        , 0.06829904, 0.09132922, 0.        , 0.02781406,
       0.01533368, 0.06113179, 0.01757286, 0.02471294, 0.0180158 ,
       0.11789806, 0.06468143, 0.13904191, 0.        , 0.06671644,
       0.        , 0.        , 0.05762086, 0.02266096, 0.00844876,
       0.02297481, 0.07136276, 0.15305514, 0.06039874, 0.        ,
       0.08996912, 0.01545947, 0.10135299, 0.        , 0.01676344,
       0.        , 0.0502188 , 0.16041182, 0.        , 0.13439733,
       0.12508514, 0.02329035, 0.0198727 , 0.01105674, 0.02548034,
       0.00896044, 0.08246122, 0.01902896, 0.07025003, 0.0216367 ,
       0.12822982, 0.09998772, 0.08642895, 0.06355197, 0.02883024,
       0.04335826, 0.0470659 , 0.05223733, 0.        , 0.08982751,
       0.00875634, 0.09923542, 0.10228551, 0.        , 0.12307492,
       0.01758929, 0.02028125, 0.1033827 , 0.13028171, 0.08988894,
       0.09005001, 0.05332049, 0.08033436, 0.04597795, 0.06139888,
       0.02300709, 0.02304904, 0.06523041, 0.01915363, 0.        ,
       0.04542766, 0.        , 0.        , 0.05261954, 0.01317088,
       0.        , 0.        , 0.0485931 , 0.0734819 , 0.10354481,
       0.01718807, 0.09919937, 0.08091989, 0.00358835, 0.04757132,
       0.11122765, 0.05143481, 0.0566614 , 0.        , 0.06087719,
       0.10800615, 0.        , 0.07554686, 0.        , 0.13644384,
       0.04796763, 0.16104067, 0.        , 0.01759864, 0.05438295,
       0.        , 0.08100801, 0.13090711, 0.00581844, 0.07150547,
       0.05428487, 0.06143184, 0.05161653, 0.1951182 , 0.1149488 ,
       0.06513047, 0.06401961, 0.        , 0.        , 0.10853662,
       0.11400426, 0.0463925 , 0.01825277, 0.        , 0.01195201,
       0.21057744, 0.05809707, 0.04349156, 0.02646256, 0.07276403,
       0.05264857, 0.07242165, 0.06790898, 0.01626564, 0.02431809,
       0.02093565, 0.13617057, 0.11784149, 0.08588206, 0.09284352,
       0.11277297, 0.06868983, 0.08200947, 0.13369059, 0.        ,
       0.19972625, 0.02286207, 0.0806288 , 0.        , 0.05756015,
       0.06738056, 0.        , 0.19656288, 0.06306426, 0.03499381,
       0.06123119, 0.09596456, 0.02180168, 0.02317515, 0.06476149,
       0.07052241, 0.08280452, 0.1700872 , 0.07213921, 0.01172201,
       0.08541218, 0.17990898, 0.08007284, 0.01739625, 0.16728777,
       0.26396194, 0.1840891 , 0.05600273, 0.04133586, 0.06911015,
       0.14456847, 0.22626397, 0.19208896, 0.0239334 , 0.20025064,
       0.01507653, 0.05144282, 0.1233368 , 0.1420166 , 0.02472079,
       0.08563805, 0.02363426, 0.12794024, 0.01083153, 0.07352436,
       0.09532519, 0.03421895, 0.07194212, 0.02297079, 0.15344079,
       0.08856302, 0.        , 0.        , 0.01878656, 0.09772942,
       0.04404359, 0.15211972, 0.0152225 , 0.10307399, 0.05715789,
       0.04600056, 0.06303899, 0.06572303, 0.14421331, 0.08272478,
       0.        , 0.04203701, 0.02276077, 0.17381829, 0.01909967,
       0.16000268, 0.14681486, 0.        , 0.05940546, 0.07725115,
       0.07464763, 0.06546696, 0.07021577, 0.18921368, 0.02494136,
       0.01705027, 0.05437622, 0.04932819, 0.        , 0.11445399,
       0.08001595, 0.12858515, 0.02306658, 0.06129105, 0.02090769,
       0.04550867, 0.1026659 , 0.10725982, 0.0260534 , 0.00173709,
       0.0987294 , 0.08077482, 0.02159226, 0.01614275, 0.0208464 ,
       0.09797466, 0.01906731, 0.18571699, 0.05344577, 0.18925314,
       0.05894189, 0.01488161, 0.1202478 , 0.09840359, 0.01048126,
       0.10596224, 0.07617195, 0.0805439 , 0.        , 0.23299389,
       0.01073642, 0.13573542, 0.04578552, 0.14440017, 0.        ,
       0.12522954, 0.0645501 , 0.02817522, 0.14445559, 0.01721045,
       0.09508161, 0.0517902 , 0.18410818, 0.08704224, 0.10990764,
       0.10850377, 0.03954865, 0.0383631 , 0.02463491, 0.07845405,
       0.03455548, 0.03007681, 0.02484076, 0.04223674, 0.14444517,
       0.12340234, 0.01510201, 0.0284437 , 0.02132016, 0.07391778,
       0.08904276, 0.15893871, 0.06947574, 0.01060787, 0.        ,
       0.09993169, 0.05711356, 0.09488374, 0.00948943, 0.13365876,
       0.05794064, 0.        , 0.06721284, 0.02066998, 0.        ,
       0.01839428, 0.        , 0.12655364, 0.08418288, 0.09095705,
       0.00730589, 0.08143881, 0.        , 0.04218803, 0.08392849,
       0.07785801, 0.        , 0.07151794, 0.02407593, 0.01635126,
       0.03734567, 0.05237227, 0.01140169, 0.00968725, 0.12530648,
       0.00909905, 0.05864096, 0.01769644, 0.12110367, 0.07347567,
       0.04316046])

In [40]:
similarity_score.shape

(706, 706)

In [57]:
def recommend(book_name):
    index = np.where(pivot_table.index == book_name)[0][0]
    similar_item = sorted(list(enumerate(similarity_score[index])), key = lambda x:x[1], reverse = True)[1:6]
    for i in similar_item:
        print(pivot_table.index[i[0]])

In [58]:
recommend("1984")

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

In [46]:
import numpy as np
index = np.where(pivot_table.index == "2nd Chance")[0][0]

In [47]:
similarity_score[index]

array([0.01220856, 0.2364573 , 1.        , 0.        , 0.06909024,
       0.10559126, 0.        , 0.10774375, 0.06702185, 0.04168195,
       0.04772156, 0.        , 0.04758005, 0.04445515, 0.05200706,
       0.09877662, 0.06505525, 0.16998812, 0.11381916, 0.11713888,
       0.03424097, 0.08780144, 0.19734903, 0.        , 0.10296667,
       0.        , 0.05862648, 0.03167738, 0.02665072, 0.0927721 ,
       0.01578198, 0.11200668, 0.07976511, 0.09795366, 0.11151806,
       0.13297767, 0.07759342, 0.09490079, 0.10728083, 0.098855  ,
       0.05052686, 0.04079472, 0.        , 0.02486892, 0.10177107,
       0.04624558, 0.16514854, 0.0387812 , 0.04734877, 0.05537103,
       0.05389246, 0.        , 0.        , 0.17478183, 0.16630236,
       0.        , 0.03372225, 0.09401435, 0.20224734, 0.14105132,
       0.1393888 , 0.09040688, 0.02549327, 0.1202022 , 0.03908273,
       0.04271377, 0.04004905, 0.11285355, 0.02240551, 0.01410128,
       0.03325543, 0.11062089, 0.05800659, 0.15450668, 0.07858063,
       0.0997612 , 0.18042591, 0.07849569, 0.16762106, 0.08990292,
       0.22614053, 0.24169011, 0.04156953, 0.07649081, 0.01463419,
       0.        , 0.04239252, 0.1509391 , 0.01258731, 0.15069871,
       0.06006632, 0.        , 0.05036693, 0.08987847, 0.06296436,
       0.09362451, 0.26814324, 0.10948921, 0.07749603, 0.09879246,
       0.06704158, 0.04249966, 0.07822435, 0.06961493, 0.13833239,
       0.06202307, 0.18626882, 0.0445456 , 0.0577407 , 0.03785984,
       0.04348712, 0.08082647, 0.10302092, 0.12570453, 0.0767387 ,
       0.12321072, 0.11468963, 0.10781686, 0.03731935, 0.08351968,
       0.08559995, 0.01647803, 0.0677884 , 0.18145628, 0.02870577,
       0.10763031, 0.06072758, 0.01094471, 0.02269801, 0.04826433,
       0.23805062, 0.0497194 , 0.19134939, 0.        , 0.15827598,
       0.07854846, 0.10566406, 0.12226166, 0.02697156, 0.05717028,
       0.04953893, 0.11320521, 0.        , 0.09278201, 0.21202253,
       0.12456637, 0.05286205, 0.11816165, 0.10978543, 0.0914485 ,
       0.09019072, 0.1051422 , 0.13199435, 0.1187543 , 0.1036083 ,
       0.0344417 , 0.06766353, 0.        , 0.17001749, 0.07613975,
       0.04639683, 0.04184681, 0.02633073, 0.19671199, 0.14202879,
       0.08175093, 0.2524099 , 0.05481205, 0.07991618, 0.11683541,
       0.12395593, 0.11478981, 0.21765288, 0.03920354, 0.05570284,
       0.11520951, 0.        , 0.16900849, 0.04340519, 0.        ,
       0.17800975, 0.08356088, 0.14565358, 0.05440545, 0.04500108,
       0.16887067, 0.17349633, 0.05581741, 0.09898266, 0.14499685,
       0.14234095, 0.08486429, 0.16891751, 0.22709355, 0.10316495,
       0.0515122 , 0.06022762, 0.09041298, 0.27445974, 0.11081754,
       0.05055202, 0.        , 0.10705788, 0.39182764, 0.02832578,
       0.22027645, 0.09761919, 0.11678203, 0.04944729, 0.10816095,
       0.12955184, 0.02621272, 0.04091079, 0.09208942, 0.07748408,
       0.        , 0.09064423, 0.03415049, 0.15028211, 0.        ,
       0.14169006, 0.04485468, 0.11800199, 0.15162675, 0.08143043,
       0.11999605, 0.18405817, 0.07669518, 0.0756141 , 0.        ,
       0.0473647 , 0.06380993, 0.06148072, 0.07400934, 0.12285882,
       0.06964336, 0.05527738, 0.02802345, 0.06881916, 0.13309667,
       0.12359031, 0.07817627, 0.12765519, 0.09839129, 0.00950369,
       0.18887899, 0.05384452, 0.11182595, 0.07845883, 0.13680709,
       0.17193913, 0.16043806, 0.02536728, 0.10359042, 0.06832498,
       0.06612221, 0.04080324, 0.06787895, 0.05410393, 0.03487565,
       0.04027093, 0.06432701, 0.13992725, 0.02600738, 0.07548417,
       0.12543807, 0.04016395, 0.06674054, 0.09785754, 0.08638217,
       0.06429147, 0.01396324, 0.06139096, 0.05559635, 0.16862251,
       0.11395878, 0.04860853, 0.10272094, 0.03016405, 0.08946421,
       0.09349283, 0.        , 0.01820569, 0.14758529, 0.13573482,
       0.09045783, 0.08279272, 0.        , 0.16153588, 0.15460021,
       0.07344069, 0.15946474, 0.14117946, 0.1553866 , 0.04066173,
       0.02590769, 0.04879763, 0.10629313, 0.06047515, 0.2017249 ,
       0.17150965, 0.10360588, 0.10984457, 0.08961752, 0.15179334,
       0.04969039, 0.        , 0.06979725, 0.06384525, 0.0268372 ,
       0.12804898, 0.14029265, 0.11607485, 0.13108603, 0.10252825,
       0.05513046, 0.        , 0.05144184, 0.05425275, 0.04659334,
       0.08355554, 0.16316345, 0.1529027 , 0.03213033, 0.0633952 ,
       0.18034041, 0.03982399, 0.04611092, 0.0277268 , 0.12204815,
       0.06656114, 0.0671775 , 0.15779056, 0.15743039, 0.01163894,
       0.1687911 , 0.06597779, 0.06263068, 0.26840231, 0.06054415,
       0.03074765, 0.0426742 , 0.11266419, 0.10582011, 0.02596855,
       0.12775175, 0.05155245, 0.02730072, 0.07864322, 0.14288842,
       0.08879358, 0.09671034, 0.21708609, 0.05143765, 0.0560223 ,
       0.14714735, 0.02815895, 0.        , 0.03474909, 0.16108371,
       0.10244427, 0.13121221, 0.14600274, 0.13532403, 0.1229563 ,
       0.07061086, 0.        , 0.09083486, 0.25087721, 0.03198483,
       0.03692832, 0.        , 0.11995607, 0.12071381, 0.09550089,
       0.06465108, 0.08537494, 0.01477679, 0.        , 0.1104957 ,
       0.20874041, 0.08870586, 0.24923306, 0.07711143, 0.07732913,
       0.0346085 , 0.09045184, 0.        , 0.11174098, 0.09508341,
       0.        , 0.        , 0.05088291, 0.15893929, 0.12898362,
       0.04720915, 0.05865511, 0.058857  , 0.15628497, 0.02308242,
       0.17007466, 0.03176645, 0.        , 0.03909628, 0.13023827,
       0.        , 0.02293127, 0.18402901, 0.0893219 , 0.13532754,
       0.09591975, 0.1036913 , 0.13230498, 0.14510266, 0.12759731,
       0.06137368, 0.05802847, 0.09942858, 0.0834531 , 0.07212329,
       0.0333531 , 0.0798786 , 0.10713287, 0.09882334, 0.10838911,
       0.12020554, 0.02763201, 0.22914086, 0.09646635, 0.07383181,
       0.07968208, 0.04791354, 0.07839154, 0.        , 0.0287383 ,
       0.03614286, 0.12811004, 0.09246397, 0.10827209, 0.09905501,
       0.10862854, 0.15804784, 0.10690429, 0.01476195, 0.15171591,
       0.11931431, 0.04736167, 0.13699087, 0.09021902, 0.        ,
       0.        , 0.        , 0.09640075, 0.07388459, 0.20478284,
       0.09120751, 0.20246106, 0.04914905, 0.0965166 , 0.03620645,
       0.15147676, 0.11936404, 0.12895328, 0.10048928, 0.        ,
       0.07584574, 0.08607278, 0.14237615, 0.03676216, 0.06671563,
       0.19788302, 0.        , 0.1203074 , 0.        , 0.07738476,
       0.12003019, 0.06382178, 0.        , 0.03616208, 0.06740313,
       0.06250345, 0.0937018 , 0.06376078, 0.22450441, 0.06275842,
       0.05925868, 0.2593214 , 0.1130752 , 0.11098496, 0.04107814,
       0.07626958, 0.08769927, 0.1177789 , 0.        , 0.04956076,
       0.22646115, 0.03703231, 0.1362725 , 0.        , 0.05262698,
       0.05360012, 0.11416038, 0.13879285, 0.04448933, 0.07084962,
       0.15924677, 0.11151099, 0.0118255 , 0.033423  , 0.04996936,
       0.04301903, 0.        , 0.10151991, 0.0980402 , 0.02096449,
       0.08027192, 0.16088599, 0.12806292, 0.21433447, 0.0767355 ,
       0.13128556, 0.04697748, 0.14072389, 0.1187315 , 0.08120432,
       0.10461049, 0.16631327, 0.02556962, 0.11600021, 0.15819333,
       0.08108348, 0.09202204, 0.16127489, 0.12344063, 0.13614131,
       0.04262088, 0.01132002, 0.03169032, 0.10892538, 0.06262529,
       0.07866939, 0.02076859, 0.09567581, 0.09089745, 0.17018115,
       0.09705399, 0.05479617, 0.02864105, 0.12288877, 0.00321287,
       0.0384796 , 0.06738968, 0.12964882, 0.04917888, 0.06398339,
       0.03097959, 0.05716889, 0.17410558, 0.05933751, 0.05079681,
       0.0999515 , 0.136932  , 0.08950451, 0.15876561, 0.18277446,
       0.03957097, 0.10677288, 0.0394961 , 0.11013538, 0.0705881 ,
       0.14789109, 0.06719787, 0.01679211, 0.17955361, 0.1174219 ,
       0.29468928, 0.04261191, 0.34991369, 0.04518372, 0.20301484,
       0.14586878, 0.12761013, 0.23312699, 0.03031536, 0.0866404 ,
       0.        , 0.10499796, 0.04676934, 0.17684595, 0.04415223,
       0.08838092, 0.        , 0.02500174, 0.02136184, 0.06318821,
       0.08894927, 0.0731103 , 0.09431349, 0.14771293, 0.11958347,
       0.06715092, 0.14397496, 0.09962799, 0.        , 0.03510188,
       0.0188677 , 0.14875355, 0.13166034, 0.03428427, 0.14852429,
       0.11273297, 0.07158281, 0.05956752, 0.08327683, 0.00356941,
       0.03397367, 0.1733163 , 0.        , 0.03317049, 0.10708909,
       0.20040122, 0.15341121, 0.06142702, 0.1676609 , 0.08225004,
       0.12665867, 0.03057906, 0.05087102, 0.20504669, 0.02153711,
       0.12317497, 0.04570378, 0.11844331, 0.11528353, 0.14539918,
       0.06781845, 0.08277999, 0.0395124 , 0.10568537, 0.05788499,
       0.09602013, 0.16330281, 0.13605338, 0.04287552, 0.15185897,
       0.        , 0.21239999, 0.10915089, 0.10370052, 0.04516813,
       0.03210007, 0.16446574, 0.07882934, 0.1721092 , 0.08614878,
       0.19050926, 0.12589395, 0.05104335, 0.        , 0.21315997,
       0.04371894, 0.18826041, 0.19190014, 0.07526186, 0.03037757,
       0.02655973, 0.30619341, 0.09675974, 0.02179728, 0.        ,
       0.03586757, 0.09085796, 0.06600718, 0.07298232, 0.05210898,
       0.04077318, 0.08662063, 0.0265597 , 0.12671149, 0.10310407,
       0.06803455, 0.        , 0.17282651, 0.06986445, 0.04614828,
       0.05554552, 0.03346845, 0.        , 0.12256014, 0.06742189,
       0.06517881, 0.05951322, 0.09665604, 0.13192468, 0.10751659,
       0.11971237, 0.15347254, 0.18308899, 0.01990557, 0.14858008,
       0.01869694, 0.06854926, 0.16565383, 0.04558758, 0.04938579,
       0.10796119])

### if we use enumerate we will be able to get index too and we want to sort about the second column that's why we used lambda fn and in order to get higeher value we pass reverse as true and we are gettting only first 5 element (Not the first (0) bcz it's a book itself)

In [52]:
sorted(list(enumerate(similarity_score[index])), key = lambda x:x[1], reverse = True)[1:6]

[(203, 0.39182763786833574),
 (577, 0.34991368995007677),
 (666, 0.30619341327105154),
 (575, 0.29468927698294456),
 (198, 0.2744597369070355)]